#add-set {
  #prevImage {
    height: 115px;

    img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #fff;
      border-radius: 20px;
      object-fit: contain;
    }
  }
}
