#search-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $s1;
  input {
    width: 70%;
    height: 35px;
    font-size: 15px;
    padding: 10px;
    background: transparent;
    border: 0;
  }

  button[id^="search-bar"] {
    position: relative;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 0;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      content: "";
      color: $s1;
      font-size: 25px;
      line-height: 25px;
    }
  }

  #search-bar_close {
    &:before {
      @include font-icon($icon-close);
    }
  }
  #search-bar_search {
    &:before {
      @include font-icon($icon-search);
    }
  }
}

#search-results {
  #previous-search_container {
    padding-left: 10px;
  }
  .previos-search_item {
    display: flex;
    padding: 10px;
    &:before {
      @include font-icon($icon-clock);
      color: $s1;
      padding-right: 10px;
      font-size: 25px;
      line-height: 25px;
    }
    > a {
      display: block;
      width: 100%;
    }
  }
  #search-result {
    display: flex;
    padding: 10px;
    position: relative;
    margin: auto 0;
    width: 60%;
    // &:before {
    //   @include font-icon($icon-search);
    //   color: $s1;
    //   font-size: 25px;
    //   line-height: 25px;
    //   padding-right: 10px;
    // }
    > a {
      display: block;
      width: 100%;
    }
  }

  .search-result_container {
    height: 50px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 15px;

    .search-result_item-container {
      width: 100%;
      .search-result_item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $d1;
      }
    }

    figure {
      height: 100%;
      width: 100px;
      margin: 0 10px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
